footer {
	text-transform:uppercase;
	font-size: 0.8em;
	text-align:center;
	padding-bottom:4em;
	padding-top:3em;
	margin: 0 1em;
	
	img {
		width: 50%;
		min-width: 64px;
		max-width: 112px;
		display: block;
		margin: 0 auto;
		padding-top:1em;
		padding-bottom:1em;
	}

	span {
		display: block;
		max-width: 600px;
		margin: 0 auto;
	}
	.credits {
		margin-bottom: 1em;
	}

	.legal {
		text-transform: none;
	}


	@media screen and (min-width: 960px) {
		padding-bottom:6em;
		padding-top:5em;
	}
}